<div class="backdrop hidden"></div>
<div class="link dialog hidden">
  <div>
    <h3>You are about to leave<br />haemapatientresources.co.uk.<br />Do you wish to proceed?</h3>
    <p>Takeda UK makes no representation as to the accuracy of the information contained on sites we do not own or control. Takeda UK does not recommend and does not endorse the content on any third party websites. Your use of third party websites is at your own risk and subject to the terms and conditions of use  <span class="orphan">for such sites.</p></span></p>
    <div class="flex wrap">
      <a class="button" target="_blank" rel="noopener">Continue to <span></span></a>
      <a class="button close">Cancel</a>
    </div>
  </div>
</div>