<div class="cookiePopUp flex">
  <div>
    <p>Cookies!</p>
  </div>
  <div class="actions">
    <p class="button acceptCookie">Accept</p>
    <p class="button ghost declineCookie">Decline</p>
  </div>
</div>
<footer>
  <div>
    <nav>
      <a href="https://www.takeda.com/en-gb/terms-of-use/">Terms of use</a>
      <a href="https://www.takeda.com/en-gb/privacy-notice/">Privacy notice</a>
      <a href="/">Contact and reporting adverse effects</a>
    </nav>
    <p><strong>IMPORTANT NOTICE:</strong> This information is only for UK patients who have been prescribed ADVATE or ADYNOVI by a healthcare professional.</p>
    <p><strong>www.haemapatientresources.co.uk</strong> has been developed by Takeda UK Limited as an educational resource for healthcare providers and people living with haemophilia A.</p>
    <p>The information provided is not a substitute for professional and/or medical advice. Please consult a healthcare professional or your haemophilia treatment centre for further advice.</p>
    <p>You can help by reporting any side eﬀects you may get. If you get any side eﬀects, talk to your doctor, pharmacist or nurse. This includes any possible side eﬀects not listed on this website or in the package leaﬂet. You can report side eﬀects directly via the Yellow Card Scheme at: <a href="https://www.mhra.gov.uk/yellowcard">www.mhra.gov.uk/yellowcard</a> or search for MHRA Yellow Card in the Google Play or Apple App Store.</p>
    <p>By reporting side eﬀects you can help provide more information on the safety of these medicines.</p>
    <div>
      <p>C-ANPROM/GB/ADV/0010 March 2022</p>
      <p class="copyright">Initiated and funded by Takeda UK Ltd. &copy; <span>year</span> Takeda Pharmaceutical Company Limited. All rights reserved.</p>
      <p>Takeda and the Takeda Logo are trademarks of Takeda Pharmaceutical Company Limited, used under license.</p>
    </div>
  </div>
  <img src="images/takeda-dakiyama.svg" alt="Takeda Logo" title="Takeda Logo" width="200px" height="111px" />
</footer>
</body>
</html>