<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon.ico">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="preconnect" href="https://www.googletagmanager.com/" crossorigin>

    <title><%= docTitle %></title>
    <!-- OneTrust Cookies Consent Notice start for haemapatientresources.co.uk -->
    <script type="text/javascript" src=https://cdn.cookielaw.org/consent/709f02bc-846c-4fed-916c-0e10eabac21f-test/OtAutoBlock.js ></script>
    <script src=https://cdn.cookielaw.org/scripttemplates/otSDKStub.js data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script="709f02bc-846c-4fed-916c-0e10eabac21f-test" ></script>
    <script type="text/javascript">
      function OptanonWrapper() {}
    </script>
    <!-- OneTrust Cookies Consent Notice end for haemapatientresources.co.uk -->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5T8LV3G');</script>
    <!-- End Google Tag Manager -->

    <link href="styles/styles.css" rel="stylesheet">
    <script src="js/scripts.js"></script>


  </head>
  <body>