<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="preconnect" href="https://www.googletagmanager.com/" crossorigin>
    <title><%= docTitle %></title>

    <link href="styles/styles.css" rel="stylesheet">
    <script src="js/cookies.js"></script>
    <script src="js/scripts.js"></script>
    <script>

    </script>
  </head>
  <body>