<header>
  <img src="images/takeda-dakiyama.svg" alt="Takeda Logo" title="Takeda Logo" width="125px" height="70px" />
  <button></button>
    <nav class="hide">
      <% menu.forEach(m => { %>
        <a href="<%= m.url %>" class="<%= m.url === path.replace('/', '') ? 'current' : '' %>">
          <%= m.name %>
        </a>
      <% }) %>
    </nav>
</header>