<div class="curtain hidden"></div>
<div class="patient dialog hidden">
  <div>
    <h3>Please confirm you are a patient who has been prescribed <span class="orphan">ADVATE<sup>&reg;</sup> (octocog alfa)</span> or <span class="orphan">ADYNOVI<sup>&reg;</sup><span class="triangle">&#9660;</span> (rurioctocog alfa pegol)</span></h3>
    <p>This website contains information only relevant to patients in the UK who have been prescribed ADVATE or ADYNOVI by a UK healthcare professional</p>
    <div class="flex wrap">
      <a class="button">I am a patient</a>
      <a data-destination="Haemophilia Society" class="goAway" href="https://haemophilia.org.uk">I am not a patient</a>
    </div>
  </div>
</div>