<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<main>
  <div class="content">
    <h1>Woops! An error occurred</h1>
    <p>That page doesn't exist. Which of the following best describes your situation?</p>
  </div>
  <div class="content">
    <div class="flex wrap">
      <div class="thirds box">
        <p>I live in the UK and I have been prescribed <span>ADYNOVI<sup>&reg;</sup></span></p>
        <a href="./adyvoni" class="button">Enter</a>
      </div>
      <div class="thirds box">
        <p>I live in the UK and I have been prescribed <span>ADVATE<sup>&reg;</sup></span></p>
        <a href="./advate" class="button">Enter</a>
      </div>
      <div class="thirds box">
        <p>I have not been prescribed ADYNOVI or ADVATE or I do not live in the UK</p>
        <a href="https://google.co.uk" class="button">Enter</a>
      </div>
    </div>
  </div>
</main>
<%- include('includes/footer.ejs') %>