<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<main>
  <div class="content">
    <h1>This is not the webpage you are looking for</h1>
  </div>
</main>
<%- include('includes/footer.ejs') %>