<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<%- include('includes/external-dialog.ejs') %>
<main>

  <div class="hero">
    <img src="./images/father-and-son-playing.jpg" alt="Father and son playing outdoors" title="Resources for Advate" />
  </div>

  <div class="content">
    <div class="twoThirds">
      <h1>ADVATE<sup>&reg;</sup> (octocog alfa) – for the treatment of haemophilia A</h1>
      <p>Whether you are a patient, carer or parent of a child with haemophilia A who has been prescribed ADVATE, Takeda is committed to providing you with the information and support you need.</p>
      <p>Please see below the range of resources we offer to provide simple guidance on the use of ADVATE and tips on improving the quality of life of people living with haemophilia A.</p>
      <p>Please note they are not meant to replace any conversations with you or your child’s healthcare team.</p>
    </div>
  </div>

  <div class="greyBg resources">

    <div class="content">

      <div class="flex wrap">

        <div class="tile flex half">
          <figure>
            <img src="https://picsum.photos/150/200" alt="downloadable" title="download this" />
          </figure>
          <div>
            <h2 class="red">Your guide to ADVATE</h2>
            <p>Important things to know about storing and using ADVATE and BAXJECT II device for reconstitution.</p>
            <p><a href="/somethng.pdf" class="action">View PDF</a></p>
          </div>
        </div>

        <div class="tile flex half">
          <figure>
            <img src="https://picsum.photos/150/200" alt="downloadable" title="download this" />
          </figure>
          <div>
            <h2 class="red">Your guide to reconstituting and administering ADVATE</h2>
            <p>A simple 4-step guide to reconstituting and administering ADVATE.</p>
            <p><a href="/somethng.pdf" class="action">View PDF</a></p>
          </div>
        </div>

        <div class="tile flex half">
          <figure class="video">
            <img src="https://picsum.photos/250/350" alt="downloadable" title="download this" />
          </figure>
          <div>
            <h2 class="red">Giving yourself factor video</h2>
            <p>Watch a step-by-step guide to administering factor treatment for yourself or your child.</p>
            <p><a href="/somethng" class="action">Watch video</a></p>
          </div>
          <div class="video hidden">
            <p class="close">X</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4WPABn0pQVY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="tile flex half">
          <figure>
            <img src="https://picsum.photos/150/200" alt="downloadable" title="download this" />
          </figure>
          <div>
            <h2 class="red">Giving yourself factor (guide)</h2>
            <p>A step-by-step guide to administering factor treatment for yourself or your child.</p>
            <p><a href="/somethng.pdf" class="action">View PDF</a></p>
          </div>
          <div class="video hidden">
            <p class="close">X</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4WPABn0pQVY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="content">
    <p>Information provided in these materials is not a substitute for the Patient Information Leaflet (PIL) which is provided with your medicine. Please ensure that you read the PIL. The PIL is also available at <a href="https://www.medicines.org.uk/emc/files/pil.9188.pdf">https://www.medicines.org.uk/emc/files/pil.9188.pdf.</a></p>
    <p>The information provided is general educational information and does not take the place of professional medical advice. Always follow your doctor or nurse’s instructions and talk with them about any questions or problems you have regarding your health and treatment.</p>
    <h3>Reporting of side effects</h3>
    <p>If you get any side effects, talk to your doctor, pharmacist or nurse. This includes any possible side effects not listed in the package leaflet. You can also report side effects directly via the Yellow Card Scheme at: www.mhra.gov.uk/yellowcard or search for MHRA Yellow Card in the Google Play or Apple App Store.</p>
    <p>By reporting side effects you can help provide more information on the safety of this medicine.</p>
  </div>

</main>
<%- include('includes/footer.ejs') %>