<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<%- include('includes/external-dialog.ejs') %>
<main>

  <div class="hero">
    <img src="./images/father-and-son-playing.jpg" alt="Father and son playing outdoors" title="Resources for Advate" />
  </div>

  <div class="content">
    <div class="twoThirds">
      <h1>ADVATE<sup>&reg;</sup> (octocog alfa) – for the treatment of haemophilia A</h1>
      <p>You have been prescribed ADVATE, which is used for the treatment and preventative treatment (prophylaxis) of bleeding in people with haemophilia A (congenital factor VIII deficiency). ADVATE can be used in both children and adults.</p>
      <p>These materials provide further information about ADVATE and how it works as a treatment and prophylactic (preventative) treatment of haemophilia A. For example, the <em>Giving Yourself Factor</em> video demonstrates the administration technique step-by-step. In addition, it also features a child and a teenager who share their experience about learning to self-infuse.</p>
      <p>Information provided in these materials is not a substitute for the Patient Information Leaflet (PIL) which is provided with your medicine. Please ensure that you read the PIL.</p>
      <p>The PIL can be accessed as follows:</p>
      <p><strong>For England, Wales & Scotland via these links:</strong></p>
      <p><a href="https://www.medicines.org.uk/emc/product/9188/pil">ADVATE 250 IU and 500 IU powder and solvent for solution for injection 2 ml solvent</a></p>
      <p><a href="https://www.medicines.org.uk/emc/product/9189/pil">ADVATE 250 IU, 500 IU, 1000 IU, 1500 IU, 2000 IU and 3000 IU powder and solvent for solution for injection 5 ml solvent</a></p>
      <p><strong>For Northern Ireland via:</strong></p>
      <p><a href="https://www.emcmedicines.com/en-gb/northernireland/medicine?id=f43d1723-d337-4048-945a-5750385fc230&type=pil">ADVATE 250 IU powder and solvent for solution for injection 2 ml solvent</a></p>
      <p><a href="https://www.emcmedicines.com/en-gb/northernireland/medicine?id=1c3d82b4-f0f5-4f6b-9337-b5c1007b4fb7&type=pil">ADVATE 250 IU powder and solvent for solution for injection 5 ml solvent</a></p>
      <p>The information provided is general educational information and does not take the place of professional medical advice. Always follow your doctor or nurse’s instructions and talk with them about any questions or problems you have regarding your health and treatment.</p>
    </div>
  </div>

  <div class="greyBg resources">

    <div class="content">

      <div class="flex wrap">

        <div class="tile flex half">
          <figure>
            <img src="https://picsum.photos/150/200" alt="downloadable" title="download this" />
          </figure>
          <div>
            <h2 class="red">Your guide to ADVATE</h2>
            <p>Important things to know about storing and using ADVATE and BAXJECT II device for reconstitution.</p>
            <p><a href="/somethng.pdf" class="action">View PDF</a></p>
          </div>
        </div>

        <div class="tile flex half">
          <figure>
            <img src="https://picsum.photos/150/200" alt="downloadable" title="download this" />
          </figure>
          <div>
            <h2 class="red">Your guide to reconstituting and administering ADVATE</h2>
            <p>A simple 4-step guide to reconstituting and administering ADVATE.</p>
            <p><a href="/somethng.pdf" class="action">View PDF</a></p>
          </div>
        </div>

        <div class="tile flex half">
          <figure class="video">
            <img src="https://picsum.photos/250/350" alt="downloadable" title="download this" />
          </figure>
          <div>
            <h2 class="red">Giving yourself factor video (features young patient stories)</h2>
            <p>Watch a step-by-step guide to administering factor featuring a teenager and learn about a child’s own haemophilia treatment journey from him and his mum.</p>
            <p><a href="/somethng" class="action">Watch video</a></p>
          </div>
          <div class="video hidden">
            <p class="close">X</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4WPABn0pQVY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="tile flex half">
          <figure>
            <img src="https://picsum.photos/150/200" alt="downloadable" title="download this" />
          </figure>
          <div>
            <h2 class="red">Giving yourself factor (guide)</h2>
            <p>A step-by-step guide to administering factor treatment.</p>
            <p><a href="/somethng.pdf" class="action">View PDF</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>

</main>
<%- include('includes/footer.ejs') %>