<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<main>
  <div class="hero">
    <img src="./images/father-and-son-playing.jpg" alt="Father and son playing outdoors" title="Resources for Advate"  />
  </div>

  <div class="content">
    <div class="twoThirds">
      <h1>ADVATE<sup>&reg;</sup> (octocog alfa) – for the treatment of haemophilia A</h1>
      <p>Welcome to the ADVATE patient website.</p>
      <p>Your haemophilia treatment centre has provided you with access to this Takeda-developed website because they have prescribed ADVATE for you as a treatment or a preventative treatment (prophylaxis) for haemophilia A.</p>
      <p>Here you will find information about haemophilia (including symptoms and key facts), support regarding your treatment with ADVATE, and sources of further advice and information.</p>
    </div>
  </div>

  <div class="content">
    <div class="flex wrap">

      <div class="half box">
        <a href="./advate-resources.html" class="action">ADVATE<sup>&reg;</sup> for the treatment and prophylaxis of bleeding in people with haemophilia A (congenital factor VIII deficiency)</a>
      </div>

      <div class="half box">
        <a href="./living-with-haemophilia.html" class="action">Living with Haemophilia resources</a>
      </div>

    </div>
  </div>

  <div class="greyBg">
    <div class="content">
      <div class="flex wrap">

        <div class="half tile">
          <a href="https://haemophilia.org.uk">
            <img src="./images/heamophilia-society-logo.svg" alt="The Haemophilia Society Logo" title="The Haemophilia Society" />
          </a>
          <div>
            <h2>The Haemophilia Society</h2>
            <p>The Haemophilia Society is an active support group for people with haemophilia and their families, and provides lots of up-to-date information and individual support on the management and treatment of haemophilia, and about living with the condition. Many people with haemophilia gain great support from other patients. The Society also offers a unique opportunity for people affected by haemophilia to get in touch with other people in similar circumstances.</p>
            <p>For further information about the Haemophilia Society:</p>
            <a class="button" href="https://haemophilia.org.uk">Visit the Haemophilia Society Website</a>
          </div>
        </div>

        <div class="half tile">
          <img src="./images/we-bleed-differently-logo.svg" alt="The We Bleed Differently Logo" title="We Bleed Differently" />
          <div>
            <h2>We Bleed Differently</h2>
            <p><small><a href="https://www.webleeddifferently.co.uk/">This is a campaign owned / certified by Takeda UK (C-ANPROM/UK/HG/0079), https://www.webleeddifferently.co.uk/</a></small></p>
            <p>The We Bleed Differently (WBD) campaign has been initiated and funded by Takeda, and developed together with The Haemophilia Society.</p>
            <p>We Bleed Differently is a campaign to provide practical support tools for people with bleeding disorders and their care teams. We want to support people with bleeding disorders and healthcare professionals to have the discussions that enable people with bleeding disorders to live the life they want to. Takeda is delighted to be partnering with The Haemophilia Society in this campaign and their ongoing work to support, inform and inspire all members of the bleeding disorder community.</p>
            <p>For further information about the WBD campaign:</p>
            <a class="button" href="https://www.webleeddifferently.co.uk">Visit the We Bleed Differently website</a>
          </div>
        </div>
      </div>

    </div>

  </div>

<%- include('includes/external-dialog.ejs') %>

</main>
<%- include('includes/footer.ejs') %>