<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<%- include('includes/external-dialog.ejs') %>

<main>
  <div class="hero">
    <img src="./images/father-and-son-playing.jpg" alt="Father and son playing outdoors" title="Resources for Advate" />
  </div>

  <div class="content">
    <div class="twoThirds">
      <h1>ADYNOVI<sup>&reg;</sup>&#9660 (rurioctocog alfa pegol) – for the treatment of haemophilia A in adults and children over 12 years of age</h1>
      <p>Whether you are a patient, carer or parent of a child (aged 12 years or over) with haemophilia A who has been prescribed ADYNOVI, Takeda is committed to providing you with the information and support you need.</p>
      <p>Please see below the range of resources we oﬀer to provide simple guidance on the use of ADYNOVI and tips on improving the quality of life of people living with haemophilia A.</p>
      <p>Please note they are not meant to replace any conversations with you or your child’s healthcare team.</p>
    </div>
  </div>

  <div class="greyBg resources">

    <div class="content">

      <div class="flex wrap">

        <div class="tile flex half">
          <figure>
            <img src="https://picsum.photos/150/200" alt="downloadable" title="download this" />
          </figure>
          <div>
            <h2 class="red">Your guide to ADYNOVI</h2>
            <p>Important things to know about storing and using ADYNOVI, and the ready-to-use BAXJECT III reconstitution system.</p>
            <p><a href="/somethng.pdf" class="action">View PDF</a></p>
          </div>
        </div>

        <div class="tile flex half">
          <figure>
            <img src="https://picsum.photos/150/200" alt="downloadable" title="download this" />
          </figure>
          <div>
            <h2 class="red">Your guide to reconstituting and administering ADYNOVI</h2>
            <p>A simple 4-step guide to reconstituting and administering ADYNOVI.</p>
            <p><a href="/somethng.pdf" class="action">View PDF</a></p>
          </div>
        </div>

        <div class="tile flex half">
          <figure class="video">
            <img src="https://picsum.photos/250/350" alt="downloadable" title="download this" />
          </figure>
          <div>
            <h2 class="red">BAXJECT III video</h2>
            <p>Watch how to use the BAXJECT III reconstitution system.</p>
            <p><a href="/somethng" class="action">Watch video</a></p>
          </div>
          <div class="video hidden">
            <p class="close">X</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4WPABn0pQVY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        </div>
      </div>
    </div>

  </div>
  <div class="content">
    <p>Information provided in these materials is not a substitute for the Patient Information Leaﬂet (PIL) which is provided with your medicine. Please ensure that you read the PIL. The PIL is also available at <a href="https://www.medicines.org.uk/emc/ﬁles/pil.9188.pdf">https://www.medicines.org.uk/emc/ﬁles/pil.9188.pdf</a>.</p>
    <p>The information provided is general educational information and does not take the place of professional medical advice. Always follow your doctor or nurse’s instructions and talk with them about any questions or problems you have regarding your health and treatment.</p>
    <h3>Reporting of side effects</h3>
    <p>If you get any side eﬀects, talk to your doctor, pharmacist or nurse. This includes any possible side eﬀects not listed in the package leaﬂet. You can also report side eﬀects directly via the Yellow Card Scheme at: <a href="https://www.mhra.gov.uk/yellowcard">www.mhra.gov.uk/yellowcard</a> or search for MHRA Yellow Card in the Google Play or Apple App Store.</p>
    <p>By reporting side eﬀects you can help provide more information on the safety of this medicine.</p>
  </div>

</main>
<%- include('includes/footer.ejs') %>