<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<main>
  <div class="content">
    <h1>Contact and reporting adverse events</h1>
    <p><strong>Takeda UK Limited</strong><br />
      1 Kingdom Street London<br />
      W2 6BD<br />
      United Kingdom<br />
      Phone: +44 3333 000 181</p>
      <div class="box ade">
          <p>&#9660; This medicine is subject to additional monitoring. This will allow quick identification of new safety information.</p>
          <p>You can help by reporting any side effects you may get. If you get any side effects, talk to your doctor, pharmacist or nurse. This includes any possible side effects not listed in the package leaflet. You can also report side effects directly via the Yellow Card Scheme at <a href="https://www.mhra.gov.uk/yellowcard">www.mhra.gov.uk/yellowcard</a>.</p>
      </div>
      <p>To report an adverse event, please contact: <a href="mailto: AE.GBR-IRL@takeda.com">AE.GBR-IRL@takeda.com</a></p>
      <p>For med info, please contact: <a href="mailto: medinfoemea@takeda.com">medinfoemea@takeda.com</a></p>
      <p>If your query is regarding a product quality complaint, please contact: <a href="Complaints.UK.Ireland@takeda.com">Complaints.UK.Ireland@takeda.com</a></p>
      <p>Please read our <a href="https://www.takeda.com/en-gb/privacy-notice/">Website Privacy Notice</a> before sending us any personal data via email.</p>
  </div>
<%- include('includes/external-dialog.ejs') %>
</main>
<%- include('includes/footer.ejs') %>