<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<main>
  <div class="content">
    <h1>Contact and reporting adverse events</h1>
    <p><strong>Takeda UK Limited</strong><br />
      1 Kingdom Street London<br />
      W2 6BD<br />
      United Kingdom<br />
      Phone: +44 3333 000 181</p>
      <p>If you require advice or information on your own medical condition or treatment please contact your own doctor, nurse or haemophilia treatment centre in the first instance. Adverse Events in the UK should be reported through the Yellow Card Scheme. Reporting forms and information can be found at <a href="https://www.mhra.gov.uk/yellowcard">www.mhra.gov.uk/yellowcard</a>. Patients don’t need to consult a doctor first if reporting an Adverse Event through the Yellow Card Scheme. Adverse events, product complaints and special reporting situations related to Takeda products should also be reported to Takeda UK Ltd via e-mail.</p>
      <p>To report an adverse event, please contact: <a href="mailto: AE.GBR-IRL@takeda.com">AE.GBR-IRL@takeda.com</a></p>
      <p>For med info, please contact: <a href="mailto: medinfoemea@takeda.com">medinfoemea@takeda.com</a></p>
      <p>If your query is regarding a product quality complaint, please contact: <a href="Complaints.UK.Ireland@takeda.com">Complaints.UK.Ireland@takeda.com</a> Please read our <a href="https://www.takeda.com/en-gb/privacy-notice/">Website Privacy Notice</a> before sending us any personal data via email.</p>
  </div>
<%- include('includes/external-dialog.ejs') %>
</main>
<%- include('includes/footer.ejs') %>