<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<%- include('includes/external-dialog.ejs') %>
<main>
  <div class="hero">
    <img src="./images/father-and-son-cycling-hero.jpg" alt="Father and son cycling through a forest outdoors" title="Living with Haemophilia" />
  </div>

  <div class="content">
    <div class="twoThirds">
      <h1>Resources for people living with haemophilia</h1>
      <p>Haemophilia is a complex disorder and you may have lots of questions about your condition, both when you are first diagnosed and also throughout your life with haemophilia.</p>
      <p>Your haemophilia treatment centre and the Haemophilia Society are here to support you. Takeda UK have also developed the following resources to help you and your caregivers learn more about haemophilia.</p>
      <p><strong>The guides below cover both haemophilia A and B and therefore, not all the information may be applicable to your condition.</strong></p>
    </div>
  </div>

  <div class="greyBg resources">

    <div class="content">

      <div class="flex wrap">

        <div class="tile flex half">
          <img src="https://picsum.photos/150/200" alt="downloadable" title="download this" />
          <div>
            <h2 class="red">Your guide to ADVATE</h2>
            <p>Important things to know about storing and using ADVATE and BAXJECT II device for reconstitution.</p>
            <p><a href="/somethng.pdf" class="action">View PDF</a></p>
          </div>
        </div>

        <div class="tile flex half">
          <img src="https://picsum.photos/150/200" alt="downloadable" title="download this" />
          <div>
            <h2 class="red">Your guide to reconstituting and administering ADVATE</h2>
            <p>A simple 4-step guide to reconstituting and administering ADVATE.</p>
            <p><a href="/somethng.pdf" class="action">View PDF</a></p>
          </div>
        </div>

        <div class="tile flex half">
          <img class="video" src="https://picsum.photos/250/350" alt="downloadable" title="download this" />
          <div>
            <h2 class="red">Giving yourself factor video</h2>
            <p>Watch a step-by-step guide to administering factor treatment for yourself or your child.</p>
            <p><a href="/somethng" class="action">Watch video</a></p>
          </div>
          <div class="video hidden">
            <p class="close">X</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4WPABn0pQVY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="tile flex half">
          <img src="https://picsum.photos/150/200" alt="downloadable" title="download this" />
          <div>
            <h2 class="red">Giving yourself factor (guide)</h2>
            <p>A step-by-step guide to administering factor treatment for yourself or your child.</p>
            <p><a href="/somethng.pdf" class="action">View PDF</a></p>
          </div>
          <div class="video hidden">
            <p class="close">X</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4WPABn0pQVY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="content">
    <div class="box full hs flex">
      <img src="./images/heamophilia-society-logo-reverse.svg" alt="Haemophilia Society Logo" title="The Haemophilia Society" />
      <div>
        <h3>The Haemophilia Society</h3>
        <p>The Haemophilia Society is an active support group for people with haemophilia and their families, and provides lots of up-to-date information and individual support on the management and treatment of haemophilia, and about living with the condition. Many people with haemophilia gain great support from other patients. The Society also offers a unique opportunity for people affected by haemophilia to get in touch with other people in similar circumstances.</p>
        <p>For further information about the Haemophilia Society, please visit: <a href="https://haemophilia.org.uk">https://haemophilia.org.uk</a></p>
      </div>
    </div>
  </div>

</main>
<%- include('includes/footer.ejs') %>