<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<main>
  <div class="hero">
    <img src="./images/man-kayaking-hero.jpg" alt="hero image" title="something or other" />
  </div>

  <div class="content">
    <div class="center">
      <h1>Welcome to the ADVATE<sup>&reg;</sup> (octocog alfa) & ADYNOVI<sup>&reg;</sup>&#9660; (rurioctocog alfa pegol) patient website</h1>
      <p class="intro red">Have you been prescribed ADVATE or ADYNOVI?</p>
    </div>
  </div>

  <div class="content">
    <div class="flex wrap">
      <div class="thirds box rounded">
        <p>I live in the UK and I have been prescribed ADVATE</p>
        <a href="./advate" class="button">Enter</a>
        <p class="small">ADVATE is used for the treatment and prevention of bleeding in patients of all age groups with haemophilia A (an inherited bleeding disorder caused by lack of factor VIII).</p>
      </div>
      <div class="thirds box rounded">
        <p>I live in the UK and I have been prescribed ADYNOVI</p>
        <a href="./adyvoni" class="button">Enter</a>
        <p class="small">ADYNOVI is used for the treatment and prevention of bleeding in patients from 12 years of age with haemophilia A (an inherited bleeding disorder caused by lack of factor VIII).</p>
      </div>
      <div class="thirds box rounded">
        <p>I have not been prescribed ADYNOVI or ADVATE or I do not live in the UK</p>
        <a href="https://haemophilia.org.uk" class="button">Enter</a>
        <p class="small">By selecting this option, you will be directed to the Haemophilia Society website.</p>
      </div>
    </div>
  </div>

  <%- include('includes/external-dialog.ejs') %>

</main>
<%- include('includes/footer.ejs') %>