@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* red #e1242a
grey #edf2f4 */

body { font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 1.4em; background: #f7f7f7; color: #222; margin: 0; padding: 0;}

h1 { font-size: 2em; font-weight: 700; line-height: 1.2em; margin-top: 1em; }
h2, p.intro { font-size: 1.4em; font-weight: 700; line-height: 1.4em; margin: 1em 0 0 0; }
h3 { font-size: 1.2em; line-height: 1.4em; margin: 1em 0 0;}
h3 + p { margin-top: 0.2em; }
p.intro { margin-top: 1.8em; }
p { font-weight: 400; line-height: 1.6em; margin: 1em 0 0; }
img { border-radius: 2px;}
a.button, p.button { display: inline-block; border-radius: 2px; background: #e1242a; color: #fff; text-decoration: none; padding: 0.3em 2em; margin-top: 1.6em; }
.button.ghost { border: 2px solid #e1242a; background: #f7f7f7; color: #e1242a; }
a.button:hover, p.button:hover { background: #891515;}
.button.ghost:hover { border: 2px solid #e1242a; background: #e1242a; color: #fff; border: none; }
.red { color: #e1242a; }

.button span { color: #fff; }
sup { font-size: 0.5em; padding-bottom: 0.5em; display: inline-block; line-height: 1.4em; }

header, .hero, .content { margin: 0 auto; max-width: 1200px; width: 80vw; }
.content { margin-top: 2.5em; }
footer { margin-top: 3em; padding: 0 1.4em 1em 1.4em; border-left: 0.6em solid #e1242a; }

header button { display: none; }
nav { float: right; }
nav a { display: inline-block; padding: 1.5em 0.8em; text-decoration: none; color: #222; }
nav a.current { font-weight: 700; color: #e1242a; }
nav a:hover { text-decoration: underline; color: #891515; }

.greyBg { width: 100vw; background: #edf2f4; padding: 3em 0; margin: 2em 0 0; }

.center { width: 90%; text-align: center; margin: 0 auto; }
.full { width: 100%; box-sizing: border-box; padding: 0 1.6em 1.6em 1.6em; }
.twoThirds { width: 70%; position: relative; }
.twoThirds h1 {padding: 0 0 0 0.8em; border-left: 10px solid #e1242a; }
.half { width: 48%; box-sizing: border-box; }
.half:nth-child(odd) { margin-right: 2%; }
.thirds { width: 31.5%; text-align: center; margin-top: 3em; margin-right: 1.6em; padding: 2.5em 2em 1em 2em; box-sizing: border-box; }
.thirds:last-child, .half:last-child { margin-right: 0; }
.thirds p { font-weight: 600; }

.resources .content:nth-child(2) { margin-top: 3em; }

.greyBg .half { padding: 2em; }
.greyBg.resources .half { padding: 0; }

.hero img {border-radius: 0 0 0 2em; width: 100%; }

.flex { display: flex; }
.wrap {  flex-wrap: wrap; }

.box { box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15); border: 1px solid #e1242a; }
.rounded, .tile { border-radius: 12px; margin-bottom: 1.6em; }
.box a.action { font-weight: 700; text-decoration: none; color: #222; display: block; padding: 1.8em 5em 1.8em 2em; background: no-repeat right 1em center url(../images/left-arrow-icon.svg); background-size: 8%; }
.box a.action:hover { color: #891515; text-decoration: underline; }

.box p { font-size: 1.25em; }
.box.hs p { font-size: 1em; }
footer .box p { font-size: 0.8em; }
.box p.small { font-size: 0.8em; font-weight: 400; margin-top: 4em; }

.tile { background: #f7f7f7; }
.resources .tile div { padding: 0.8em; }
.tile h2, .warning h2 { margin: 0; }
.tile h2 { border: none; padding: 0; }
.tile figure { margin: 1em; }
.tile figure.video {margin: 0; }
.tile img { border-radius: 2px; box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.15); }
.tile .video img, .tile img[src$=".svg"] { box-shadow: none; border: none; }
.tile img[src$='.svg'] { height: 6em; margin-bottom: 1.6em; }
.tile a.button { text-transform: uppercase; padding: 0.8em 1.6em; }
.tile a.action { display: inline-block; position: relative; padding: 0.2em 2em 0.2em; text-transform: uppercase; text-decoration: none; font-weight: 600; color: #222; }
.tile a.action::before { content: ''; display: block; height: 1.4em; width: 1.4em; position: absolute; top: 0.3em; left: 0; background: url('../images/video-icon.svg'); }
.tile a.action[href$='.pdf']::before { background: url('../images/download-icon.svg'); }
.tile a.action:hover, footer nav a:hover { text-decoration: underline; color: #e1242a; }

.hs { background: url('../images/heamophilia-society-logo-splash.svg') no-repeat center right; flex-direction: row-reverse; }
.hs div { width: 80%; }
.hs div a { display: inline; padding: 0; background: none; font-weight: 300; }
.hs img { width: 20%; }

.hidden { display: none; }

@keyframes darken {
  from { background: rgba(0, 0, 0, 0); }
  to { background: rgba(0, 0, 0, 0.5); }
}

@keyframes appear {
  from { opacity: 0; }
  to { opacity: 1; }
}

.backdrop { position: fixed; z-index: 1;top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.5); animation-name: darken; animation-duration: 0.2s; backdrop-filter: blur(2px); }
.dialog, div.video { position: fixed; z-index: 2; top: 6em; left: 50%; transform: translate(-50%, 0); box-shadow:  0 12px 12px 0 rgba(0, 0, 0, 0.15); animation-name: appear; animation-duration: 0.1s; opacity: 1; width: fit-content; height: fit-content; }
div.video { padding: 0; }
div.video .close { position: absolute; top: 0; right: 1em; color: #fff; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }
.dialog { width: 45vw; box-sizing: border-box; background: #f7f7f7; border-radius: 4px; padding: 3em; text-align: center; padding: 2em; }
.dialog h3 { margin: 0 0 1em 0; }
.dialog .flex { justify-content: space-around; }
.dialog .button { width: 45%; padding: 1em 0.5em; vertical-align: text-center; }
.dialog p.link.button { margin-top: 1em; }

footer { position: relative; }
footer div { width: 75%; }
footer nav { margin-bottom: 2em; float: none; }
footer nav a { display: block;  padding: 0.3em 0.6em 0.3em 0; font-weight: 700;}
/* footer nav a:last-child { display: inline-block; border-bottom: 1px solid #e1242a; padding: 0.3em 0 0.1em 0; } */
/* footer nav a:last-child:hover { text-decoration: none; } */
footer p { font-size: 0.8em; margin: 0.5em 0 0 0; }
footer span { color: #222; }
footer div div { margin-top: 2.2em; }
footer img {position: absolute; top: 0; right: 0;}
footer .box, .box.ade { border-color: #222; box-shadow: none; width: 95%; padding: 1em; box-sizing: border-box; margin-top: 1em;}
.box.ade p { font-size: 1em; }
.box.ade p:first-child { margin-top: 0; }

@media screen and (max-width: 1600px) {
  .hs img { width: 14%; margin-left: 6%; }
}

@media screen and (max-width: 1430px) {
  .hs div { width: 75%; }
  .hs img { width: 16%; margin: 2% 1% 0 8%; }
  .dialog { width: 60vw; }
}

@media screen and (max-width: 1380px) {
  .hs div { width: 65%; }
  .hs img { width: 16%; margin: 2% 4% 0 15%; }
  .actions { width: 30%; }
  .actions .button { padding: 0.75em 2em; }
}

@media screen and (max-width: 1200px) {
  header, .hero, .content { width: 90vw; }
  .hs { background-position: right -20% top; }
  .hs div { width: 50%; }
  .hs img { width: 20%; margin: 2% 2% 0 28%; }
  .thirds { width: 31%; }
}

@media screen and (max-width: 1140px) {
  .hs { background-position: right -15% top; }
}

@media screen and (max-width: 1060px) {
  .hs { background-position: right -30% top; }
}

@media screen and (max-width: 1024px) {
  header, .hero, .content { margin: 0 auto; width: 90vw; }
  .content { margin-top: 2.5em; }
  .hero img { width: 90vw; }
  .column { width: 30%; }
  .hs { background-position: right -30% top; }
  .hs img { width: 20%; margin-left: 28%; margin-top: 2%; }
  .dialog { width: 70vw; }
}

@media screen and (max-width: 900px) {
  .hs.flex { display: block; }
  .hs.full { background: none; position: relative; padding: 0; }
  .hs div { width: 100%; padding: 0.8em 1.6em 1.6em; box-sizing: border-box; }
  .hs img { width: 100%; height: 100px; border-radius: 12px 12px 0 0; padding: 4em 0; margin: 0; display: block; background: #C41718; }

  header, .hero, .content { margin: 0 auto; width: 100vw; }

  header { position: relative; }
  header button { position: absolute; top: 1.75em; right: 2em; border: none; height: 1.5em; width: 2.5em; display: block;
    background: linear-gradient(
      to bottom,
      #999,
      #999 12%,
      #f7f7f7 12%,
      #f7f7f7 43%,
      #999 43%,
      #999 57%,
      #f7f7f7 57%,
      #f7f7f7 88%,
      #999 88%,
      #999 100%
    );
    transition: linear-gradient 1s;
  }

  header button.menu.active:before {
    background: linear-gradient(
      to bottom,
      #07323d,
      #07323d 40%,
      #d3f1f1 40%,
      #d3f1f1 60%,
      #07323d 60%,
      #07323d 100%
    );
  }

  @keyframes show {
    from { height: 0; }
    to { height: 16em; }
  }

  @keyframes hide {
    from { height: 16em; }
    to { height: 0; }
  }

  header nav { width: 100vw; height: 0; overflow: hidden; }
  header nav.show { height: 16em; overflow: visible; animation-name: show; animation-duration: 0.2s; }
  header nav.hide { animation-name: hide; animation-duration: 0.2s; }
  header nav a { display: block; border: 1px solid #edf2f4; text-align: right; padding: 1em 5vw; }

  h1 { font-size: 1.6em; margin-bottom: 1.2em; }
  p.intro { font-size: 1.4em; }

  .hero img { display: block; }
  .hero img, .content, footer div { width: 90vw; margin: 0 auto; }

  .greyBg { margin-bottom: 3em; padding: 1.4em 0; }
  .half { padding: 0 5vw; }
  .half.box { padding: 0; }
  .tile, .full, .half, .twoThirds, .thirds { width: 100%; }
  .thirds { margin-right: 0; margin-top: 0; }
  .thirds.box:first-of-type { margin-top: 2.4em; }
  .half:nth-child(odd) { margin-right: 0; }

  .box { margin-bottom: 2em; }
  .box:first-of-type { margin-top: 3em; }
  div.half::before { height: 21em; }

  .box a.action { padding: 1.5em 5em 1.5em 1.5em; }

  .tile { display: block; margin-top: 0; }
  .tile a.button { text-align: center; }
  .tile img { display: block; margin: 0.8em 0; }
  .tile img.video { display: block; margin: 0.8em auto; } /* need a wrapper here to make video image change aspect ratio */
  .column:last-child, .tile:nth-child(odd) { margin-right: auto; }

  .thirds.box p { line-height: 1.4em; }

  .dialog, div.video { width: 90vw; box-sizing: border-box; }
  .dialog .button { width: 100%; padding: 1em 0.5em; vertical-align: text-center; }
  footer img { width: 100px; height: 55px; }
  footer nav a { padding: 0.6em 0.6em 0.6em 0}
  footer div.box { margin: 1.6em 0; }

}

@media screen and (max-width: 600px) {

}